# Python cache and build artifacts
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
build/
dist/
.eggs/

# Virtual environments
.venv/
venv/
env/
ENV/
.tda_lib/
.openpyxl_lib/

# IDE and editor settings
.idea/
.vscode/
*.code-workspace

# Notebook checkpoints
.ipynb_checkpoints/

# macOS metadata
.DS_Store

# agent files
AgentContext.md

#Large geo file
Local_Authority_Districts_December_2021_UK_BGC_2022_4923559779027843470.geojson